<nav>
    <ul>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/produits">Produits</a>
        </li>
        <li>
            <a href="/a-propos">À Propos</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>